@{
    ViewBag.Title = "About";
}

<h2 class="display-3 text-center text-info"><strong>Desarrolladores </strong></h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-1 "></div>
        <div class="col-md-7 ">
            <div class="card text-dark bg-transparent mb-3 border-primary" style="max-width: 18rem;">
                <div class="card-body text-center">
                    <img src="~/img/foto.jpg" class=" imagen-carta" alt="...">
                    <h3 class="card-title text-center text-info">Manuel Eduardo Sánchez Valdez</h3>
                    <h5 class="card-title text-center text-info">2017-4921</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-dark bg-transparent border-primary mb-3" style="width: 18rem;">
                <div class="card-body">
                    <img src="~/img/foto2.jpeg" class="rounded-circle imagen-carta" alt="...">
                    <h3 class="card-title text-center text-info">Luis David Ferreras</h3>
                    <h5 class="card-title text-center text-info">2017-5089</h5>
                </div>
            </div>
        </div>

    </div>
</div>






