
@{
    ViewBag.Title = "InformeCagos";
}

<h1 class="display-4 text-info">Cargos</h1>
<hr />


<table class="table border-1 border-info">
    <tr class="bg-info">
        <th>
            ID
        </th>
        <th>
            Nombre
        </th>

    </tr>

    @foreach (var item in ViewData["Cargos"] as IEnumerable<ProyectoFinal.Models.Listas>)
    {
        <tr>
            <td>@item.ListDeCargos.id</td>
            <td>@item.ListDeCargos.Cargo1</td>

        </tr>

    }
</table>
@Html.ActionLink("Regresar", "Informes", "Home")